@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");
:root {
  /*fonts*/
  --font-montserrat:"Montserrat", sans-serif;
}

/*colors*/
.containerBanner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.svgBanner {
  width: 600px;
}

.imgBanner {
  width: 100%;
}