@import './abstracts/variables.scss';
.containerBanner{
    display: flex;
    justify-content: center;
}
//si es svg entra en esta condicion
.svgBanner{
    width: 600px;

}
//si es svg entra en banner 
.imgBanner{
    width: 100%;
}
