/*colors*/
.containerBanner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.svgBanner {
  width: 600px;
}

.imgBanner {
  width: 100%;
}