/*colors*/
.main {
  background-color: #000;
}

.body {
  color: #fff;
  height: 100%;
}

.link {
  text-decoration: none;
  color: #fff;
  font-size: 40px;
  margin-top: 15px;
}

.contact {
  font-size: 1.25rem;
}

p {
  margin-left: 20px;
}

/* smartphones*/
@media screen and (max-device-width: 480px) {
  .listaContacto {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
/*estilos para dispositivos portatiles*/
@media screen and (min-device-width: 490px) {
  .listaContacto {
    margin-top: 4rem;
    margin-bottom: 1rem;
  }
}