/* variables.scss */
:root {
  /*fonts*/
  --font-montserrat: "Montserrat", sans-serif;
}

/*colors*/
.main {
  background-color: #fff;
  color: #000;
}

.a {
  color: #000;
  text-decoration: none;
}
.a .icon {
  height: 30px;
}