@import './abstracts/variables';
.main{
 background-color: $white;
 margin-top: auto;
}

  .icon{
    color: $black;
    font-size: 1.87rem; 
  }
  .a{
    text-decoration: none;
    color: $black;
  }

