@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");
:root {
  /*fonts*/
  --font-montserrat:"Montserrat", sans-serif;
}

/*colors*/
.main {
  background-color: #fff;
  color: #000;
}

.a {
  color: #000;
  text-decoration: none;
}