/*estilos para dispositivos moviles*/
@media screen and (max-device-width : 480px) {
    .navbarStyle{
        font-size: 20px;
         //estilo para el banner debajo del navbar.
        z-index: 100;
    }
    .logo{
        height: 50px;
    }
    //estilo para el banner debajo del navbar.
    .bannerEvent{
        position: sticky;
        top: 110px;
        z-index: 10;
        height: 10px;
    }
   

}
/*estilos para dispositivos portatiles*/
@media screen and (min-device-width : 490px) {
    .navbarStyle{
        font-size: 20px;
         //estilo para el banner debajo del navbar.
        z-index: 100;
    }
    .logo{
        height: 50px;
    }
     //estilo para el banner debajo del navbar.
       .bannerEvent{
        position: sticky;
        top: 70px;
        z-index: 10;
    }
}
