/*estilos para dispositivos moviles*/
@media screen and (max-device-width: 480px) {
  .navbarStyle {
    font-size: 20px;
    z-index: 100;
  }
  .logo {
    height: 50px;
  }
  .bannerEvent {
    position: sticky;
    top: 70px;
    z-index: 10;
    height: 10px;
  }
}
/*estilos para dispositivos portatiles*/
@media screen and (min-device-width: 481px) {
  .navbarStyle {
    font-size: 20px;
    z-index: 100;
  }
  .logo {
    height: 50px;
  }
  .bannerEvent {
    position: sticky;
    top: 70px;
    z-index: 10;
  }
}