@import './abstracts/_variables.scss';

.main{
    background-color: $black;
    color: $white;
}

.name{
    font-weight:$ancho-titulo;
    font-size: 2.18rem; 
}
.description{
    font-weight: $ancho-texto;
    font-size: 1.87rem; 
}
.status{
    font-size: 1.25rem;
    font-weight:$ancho-titulo;
}
