@import './abstracts/_variables.scss';

.main{
    background-color: $black;
    color: $white;
}
.desc{
    background-color: red;
    h1{
        font-weight:$ancho-titulo;
        font-size: 2.18rem; 
    }
    p{
        font-weight: $ancho-texto;
        font-size: 1.87rem;  
    }
}