@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");
:root {
  /*fonts*/
  --font-montserrat:"Montserrat", sans-serif;
}

/*colors*/
.main {
  background-color: #000;
  color: #fff;
}

.desc {
  background-color: red;
}
.desc h1 {
  font-weight: 500;
  font-size: 2.18rem;
}
.desc p {
  font-weight: 300;
  font-size: 1.87rem;
}